
*.stash
*.o
build-PARCIAL_INFO2-Desktop_Qt_5_14_1_MinGW_64_bit-Debug/Makefile
*.exe
*.user
*.autosave
*.debug
build-PARCIAL_INFO2-Desktop_Qt_5_14_1_MinGW_64_bit-Profile/Makefile
build-PARCIAL_INFO2-Desktop_Qt_5_14_1_MinGW_64_bit-Profile/admin.txt
build-PARCIAL_INFO2-Desktop_Qt_5_14_1_MinGW_64_bit-Profile/admin.txt
build-PARCIAL_INFO2-Desktop_Qt_5_14_1_MinGW_64_bit-Profile/admin.txt
